{% extends 'common/parent.html' %}
{% load static %}

{% block title %}
    修改密码
{% endblock %}



{% block headlink %}
    <link href="{% static 'css/check.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}



{% block nav %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">修改密码</a>
        </h1>
    </header>
    <div style="height: 49px;"></div>
{% endblock %}




{% block content %}
    <form action="" method="post">
    {% csrf_token %}
        <input type="text" value="{{ request.POST.password }}" name="password" placeholder="旧密码" class="login-password">
        <p style="color: red">{{ formdata.errors.password.0 }}</p>

        <input type="text" value="{{ request.POST.newpassword }}" name="newpassword" placeholder="新密码"
               class="login-name">
        <p style="color: red">{{ formdata.errors.newpassword.0 }}</p>

        <input type="text" value="{{ request.POST.renewpassword }}" name="renewpassword" placeholder="确认新密码"
               class="login-password">
        <p style="color: red">{{ formdata.errors.renewpassword.0 }}</p>
        <input type="submit" class="login-btn" value="确认">
    </form>
    {{ sec }}
{% endblock %}
