{% extends 'common/parent.html' %}
{% load static %}
{% block title %}
    注册
{% endblock %}
{% block headlink %}
    <style>
        .myred {
            color: red;
        }
    </style>
{% endblock %}

{% block nav %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">注册</a>
        </h1>
    </header>
    <div style="height: 49px;"></div>
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="login-logo">
            <img src="{% static 'images/logo.png' %}"/>
        </div>
        <div style="height: 3rem;"></div>
        <input id="phone" value="{{ request.POST.phone }}" type="text" name="phone" placeholder="请输入手机号"
               class="login-name">
        <p class="myred">{{ form.errors.phone.0 }}</p>

        <input value="{{ request.POST.password }}" type="password" name="password" placeholder="请输入密码"
               class="login-password">
        <p class="myred">{{ form.errors.password.0 }}</p>

        <input value="{{ request.POST.repassword }}" type="password" name="repassword" placeholder="确认密码"
               class="login-name">
        <p class="myred">{{ form.errors.repassword.0 }}</p>

        <div class="yzm" style="margin-top: 1.5rem;">
            <input value="{{ request.POST.yzm }}" name="yzm" type="text" class="reg-yzm" placeholder="输入验证码"/>
            <input type="button" class="yzm-hq" value="获取验证码"/>
        </div>
        <p class="myred">{{ form.errors.yzm.0 }}</p>


        <input type="submit" class="login-btn" value="立即注册"/>
        <div class="agree">
            <input type="checkbox" name="checkbox" value="同意" checked=""/>&nbsp;同意
            <a href="" class="xy">《用户协议》</a>
            <div class="r-login">已有账号，请
                <a href="{% url 'users:login' %}" class="l-login">登录</a>
            </div>
            <p class="myred">{{ form.errors.checkbox.0 }}</p>
        </div>
    </form>

{% endblock %}
{% block footerjs %}
    <script type="text/javascript">
        $(function () {
            $('.yzm-hq').on('click', function () {
                var that = this;
                var num = 60;
                var addstr = num + '秒后验证码过期';
                $(that).val(addstr).attr('disabled', 'disabled').css({
                    'background': '#b3b4b8',
                    'border': '1px solid #b3b4b8'
                });
                mytime = setInterval(function () {
                    num -= 1;
                    if (num == 0) {
                        clearInterval(mytime);
                        $(that).val('获取验证码').css({'background': '#13b84e'}).removeAttr('disabled');
                        return false
                    }
                    addstr = num + '秒后验证码过期';
                    $(that).val(addstr).attr('disabled', 'disabled').css({
                        'background': '#b3b4b8',
                        'border': '1px solid #b3b4b8'
                    });
                }, 1000);
                phonenum = $('#phone').val();
                if (phonenum) {
                    $.ajax({
                        type: "POST",
                        url: "{% url 'users:verification' %}",
                        data: "phone=" + phonenum + '&csrfmiddlewaretoken=' + '{{ csrf_token }}',
                        success: function (msg) {
                                console.log(msg)
                        }
                    });
                }
            })
        })
    </script>
{% endblock %}
